body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #faf8f8;
}

.navbar.bg-body-tertiary {
    background-color: #ff0000 !important;
    padding: 15px;
    margin: 15px;

}

.navbar .navbar-brand {
    color: #ffffff !important;
}

.navbar .navbar-brand:hover {
    color: #cccccc !important;
}

.navbar .form-control {
    margin-right: 10px;
}

.navbar .btn.btn-outline-success {
    background-color: #FFFF00;
    border-color: #FFFF00;
    color: rgb(0, 0, 0);
}

.navbar .btn.btn-outline-success:hover {
    background-color: #218838;
    border-color: #1e7e34;
}

h1 {
    text-align: center;
    margin: 20px 0;
    color: #343a40;
}

h2{
    text-align: center;
}

.card {
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-title {
    color: #343a40;
}

.card-text {
    color: #495057;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0069d9;
    border-color: #0062cc;
}

#myChart {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

#myChart3 {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

.container {
    margin-top: 20px;
}

#movieList {
    margin-top: 20px;
}

#piechart_3d {
    margin-top: 20px;
}